# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
*.cache-*

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# output not in target directory
build.log
.cache
.cache-main
.cache-tests

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


/conf/organizations/
*.zip
*.swap
.gradle/
*.csr
*.crt
*.id
scripts/channel-artifacts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IntelliJ
*.iml
/chaincode/tools/hlf-chaincode-definition-creator/chainecode_description.tgz
/chaincode/tools/hlf-chaincode-definition-creator/connection.json
/containers/hl-fabric-node-configurator/conf/crypto/crypto.yaml
/containers/target/

# Eclipse
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath
/chaincode/tools/cc-template/bin/

# Idea
.idea

wallet
/tools/hlf-connection-profil-creator/certs/
tools/hlf-connection-profil-creator/connection-profils/
chaincode/chaincode-external/bin/
tools/
